/*
 * Lanyon - Layout and sidebar styles
 */

/* Global resets */
html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

/* Wrapper and Container */
.wrap {
  position: relative;
  width: 100%;
}

.container {
  max-width: 28rem;
}

/* Masthead */
.invisible-title {
  display: none;
}

.masthead {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 6rem;
  border-bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  color: rgba(255,255,255,.6);
  background-color: #ffffff00;
  background-image: url('fog-4969649_1280.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transform: translate3d(0, 0, 0);
  transition: visibility 0s linear 0.2s, transform 0.2s ease-out;
  will-change: transform;
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #fff;
}

.sidebar-item {
  padding: 1rem;
}

.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

/* Sidebar toggle */
.sidebar-checkbox {
  position: absolute;
  opacity: 0;
  user-select: none;
}

.sidebar-toggle {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  width: 44px;
  height: 44px; 
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: .25rem;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.sidebar-toggle::before {
  display: inline-block;
  width: 24px;
  height: 2.5px;
  content: '';
  background-color: #555;
  box-shadow: 
    0 -7px 0 0 #555,
    0 7px 0 0 #555;
  position: relative;
}

/* Slide effect */
.wrap,
.sidebar,
.sidebar-toggle {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.wrap,
.sidebar-toggle {
  transition: transform 0.2s ease-out;
  will-change: transform;
}

#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
  transition: visibility 0s linear 0s, transform 0.2s ease-out;
}

#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  transform: translateX(14rem);
}

/* Reverse layout */
.layout-reverse .sidebar {
  left: auto;
  right: -14rem;
}

.layout-reverse .sidebar-toggle {
  left: auto;
  right: 1rem;
}

.layout-reverse #sidebar-checkbox:checked ~ .sidebar,
.layout-reverse #sidebar-checkbox:checked ~ .wrap,
.layout-reverse #sidebar-checkbox:checked ~ .sidebar-toggle {
  transform: translateX(-14rem);
}

/* Media queries */
@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
  }
}

@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 56em) {
  .container {
    max-width: 48rem;
  }
}

@media print {
  .sidebar-toggle {
    display: none;
  }
}