<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
     <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" unchecked>

     <!-- Toggleable sidebar -->
     <div class="sidebar" id="sidebar">
       <!-- Profile section -->
       <div class="sidebar-profile">
         <img src="{{ site.baseurl }}/public/output-3.svg" alt="Logo" class="sidebar-logo">
         <h2 class="sidebar-name">Fabian Lander</h2>
         <p class="sidebar-position">PhD Student<br>Max Planck Institute for Mathematics in the Sciences</p>
       </div>
     
       <div class="sidebar-item">
         <p>{{ site.description }}</p>
       </div>
     
       <nav class="sidebar-nav">
         {% assign pages_list = site.pages | sort:"url" %}
         {% for node in pages_list %}
           {% if node.title != null %}
             {% if node.layout == "page" %}
               <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
             {% endif %}
           {% endif %}
         {% endfor %}
         
       </nav>
     
       <div class="sidebar-search">
         <input type="text" id="search-input" class="search-input" placeholder="Search posts...">
         <div id="search-results" class="search-results"></div>
         
         <div class="sidebar-item">
           <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
         </div>
       </div>
     </div>


     