---
import '../styles/components/footer.css';
---

<footer class="footer">
  <div class="footer-inner">
    <span class="footer-name">Fabian Lander</span>
    <div class="footer-links">
      <a href="https://github.com/FabianLander">GitHub</a>
      <a href="https://linkedin.com/in/fabian-lander-b88286339">LinkedIn</a>
      <a href="mailto:fabian.lander@mis.mpg.de">Email</a>
    </div>
  </div>
</footer>
